<h1 class="title">Upload</h1>

<article class="message is-info">
  <div class="message-header">
    <p>Content Guidelines</p>
  </div>
  <div class="message-body">
    <ul>
      <li>Be nice.</li>
      <li>Keep it appropriate.</li>
    </ul>
  </div>
</article>

<%= render 'form', veneration: @veneration %>
