<%= render partial: 'shared/veneration', object: @veneration %>

<nav class="level">
  <div class="level-left">
    <p class="level-item">
      <%= link_to 'Back', venerations_path, class: 'button' %>
    </p>
  </div>
  <div class="level-right">
    <% if @veneration.user == current_user %>
    <p class="level-item">
      <%= link_to edit_veneration_path(@veneration), class: 'button is-primary' do %>
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
        <span>Edit</span>
      <% end %>
    </p>
    <% end %>
  </div>
</nav>
